# Описание

В работе используются два источника:
1. Главный источник https://www.chinamobil.ru/sales/sales_all/ – в нем содержится по месечная статистика продаж авито по странам, которые мы и будем предсказывать
2. Ежегодные экономические показатели стран: население, ВВП на душу населения, средняя зарплата

### Парсмим данные продаж авто

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 
import os
from urllib.parse import urlparse, parse_qs

In [2]:
SAVE_DIR = r'..\data\\'
SALES_STATS_URL = 'https://www.chinamobil.ru/sales/sales_all/'

In [3]:
url = '?year=14&mon=1'
data = []

while True:
    print(f'Requesting URL: {url}')
    page = requests.get(SALES_STATS_URL + url)

    soup = BeautifulSoup(page.content, "html.parser")

    country_sales = soup.findAll(attrs={'name': 'salesrow'})

    parsed_url = urlparse(url)
    query_params = parse_qs(parsed_url.query)

    for sales_stat in country_sales:
        data.append(
            {
                "country": sales_stat.find('a').text.strip(),
                "year": 2000 + int(query_params['year'][0]),
                "month": int(query_params['mon'][0]),
                "sales": int(sales_stat.find('b').text.replace(' ', ''))
            }
        )

    next_month = soup.find(string='Следующий месяц')
    if not next_month or next_month.parent.name != 'a':
        break

    url = next_month.parent.attrs['href']

df = pd.DataFrame(data)

Requesting URL: ?year=14&mon=1
Requesting URL: ?year=14&mon=2
Requesting URL: ?year=14&mon=3
Requesting URL: ?year=14&mon=4
Requesting URL: ?year=14&mon=5
Requesting URL: ?year=14&mon=6
Requesting URL: ?year=14&mon=7
Requesting URL: ?year=14&mon=8
Requesting URL: ?year=14&mon=9
Requesting URL: ?year=14&mon=10
Requesting URL: ?year=14&mon=11
Requesting URL: ?year=14&mon=12
Requesting URL: ?year=15&mon=1
Requesting URL: ?year=15&mon=2
Requesting URL: ?year=15&mon=3
Requesting URL: ?year=15&mon=4
Requesting URL: ?year=15&mon=5
Requesting URL: ?year=15&mon=6
Requesting URL: ?year=15&mon=7
Requesting URL: ?year=15&mon=8
Requesting URL: ?year=15&mon=9
Requesting URL: ?year=15&mon=10
Requesting URL: ?year=15&mon=11
Requesting URL: ?year=15&mon=12
Requesting URL: ?year=16&mon=1
Requesting URL: ?year=16&mon=2
Requesting URL: ?year=16&mon=3
Requesting URL: ?year=16&mon=4
Requesting URL: ?year=16&mon=5
Requesting URL: ?year=16&mon=6
Requesting URL: ?year=16&mon=7
Requesting URL: ?year=16&mon=8
Requesting URL: ?year=16&mon=9
Requesting URL: ?year=16&mon=10
Requesting URL: ?year=16&mon=11
Requesting URL: ?year=16&mon=12
Requesting URL: ?year=17&mon=1
Requesting URL: ?year=17&mon=2
Requesting URL: ?year=17&mon=3
Requesting URL: ?year=17&mon=4
Requesting URL: ?year=17&mon=5
Requesting URL: ?year=17&mon=6
Requesting URL: ?year=17&mon=7
Requesting URL: ?year=17&mon=8
Requesting URL: ?year=17&mon=9
Requesting URL: ?year=17&mon=10
Requesting URL: ?year=17&mon=11
Requesting URL: ?year=17&mon=12
Requesting URL: ?year=18&mon=1
Requesting URL: ?year=18&mon=2
Requesting URL: ?year=18&mon=3
Requesting URL: ?year=18&mon=4
Requesting URL: ?year=18&mon=5
Requesting URL: ?year=18&mon=6
Requesting URL: ?year=18&mon=7
Requesting URL: ?year=18&mon=8
Requesting URL: ?year=18&mon=9
Requesting URL: ?year=18&mon=10
Requesting URL: ?year=18&mon=11
Requesting URL: ?year=18&mon=12
Requesting URL: ?year=19&mon=1
Requesting URL: ?year=19&mon=2
Requesting URL: ?year=19&mon=3
Requesting URL: ?year=19&mon=4
Requesting URL: ?year=19&mon=5
Requesting URL: ?year=19&mon=6
Requesting URL: ?year=19&mon=7
Requesting URL: ?year=19&mon=8
Requesting URL: ?year=19&mon=9
Requesting URL: ?year=19&mon=10
Requesting URL: ?year=19&mon=11
Requesting URL: ?year=19&mon=12
Requesting URL: ?year=20&mon=1
Requesting URL: ?year=20&mon=2
Requesting URL: ?year=20&mon=3
Requesting URL: ?year=20&mon=4
Requesting URL: ?year=20&mon=5
Requesting URL: ?year=20&mon=6
Requesting URL: ?year=20&mon=7
Requesting URL: ?year=20&mon=8
Requesting URL: ?year=20&mon=9
Requesting URL: ?year=20&mon=10
Requesting URL: ?year=20&mon=11
Requesting URL: ?year=20&mon=12
Requesting URL: ?year=21&mon=1
Requesting URL: ?year=21&mon=2
Requesting URL: ?year=21&mon=3
Requesting URL: ?year=21&mon=4
Requesting URL: ?year=21&mon=5
Requesting URL: ?year=21&mon=6
Requesting URL: ?year=21&mon=7
Requesting URL: ?year=21&mon=8
Requesting URL: ?year=21&mon=9
Requesting URL: ?year=21&mon=10
Requesting URL: ?year=21&mon=11
Requesting URL: ?year=21&mon=12
Requesting URL: ?year=22&mon=1
Requesting URL: ?year=22&mon=2
Requesting URL: ?year=22&mon=3
Requesting URL: ?year=22&mon=4
Requesting URL: ?year=22&mon=5
Requesting URL: ?year=22&mon=6
Requesting URL: ?year=22&mon=7
Requesting URL: ?year=22&mon=8
Requesting URL: ?year=22&mon=9
Requesting URL: ?year=22&mon=10
Requesting URL: ?year=22&mon=11
Requesting URL: ?year=22&mon=12
Requesting URL: ?year=23&mon=1
Requesting URL: ?year=23&mon=2
Requesting URL: ?year=23&mon=3
Requesting URL: ?year=23&mon=4
Requesting URL: ?year=23&mon=5
Requesting URL: ?year=23&mon=6
Requesting URL: ?year=23&mon=7
Requesting URL: ?year=23&mon=8
Requesting URL: ?year=23&mon=9

Добавим коды стран к собраному датасету, для отображения данных на карте

In [4]:
import gettext
import pycountry
from gettext import gettext as _

In [5]:
name_correction_map = {
    'россия': 'RUS',
    'великобритания': 'GBR',
    'венесуэла': 'VEN',
    'лаос': 'LAO',
    'оаэ': 'ARE',
    'сша': 'USA',
    'тайвань': 'TWN',
    'турция': 'TUR',
    'юар': 'ZAF',
    'южная корея': 'KOR',
}


def map_country_code(row):
    try:
        foreign = gettext.translation(
            'iso3166-1', pycountry.LOCALES_DIR, languages=['ru'])
        foreign.install()
        _ = foreign.gettext
        for english_country in pycountry.countries:
            country_name = row['country'].lower()
            if name_correction_map.get(row['country'].lower()):
                return name_correction_map[row['country'].lower()]
            foreign_country = _(english_country.name).lower()
            if foreign_country == country_name:
                return english_country.alpha_3
    except Exception as e:
        print(e)
        return None

In [6]:
df['iso_alpha'] = df.apply(map_country_code, axis=1)

In [7]:
df = df.sort_values(by=['country', 'year', 'month' ])
df

        country  year  month   sales iso_alpha
15    Австралия  2014      1   82285       AUS
71    Австралия  2014      2   86818       AUS
131   Австралия  2014      3   97267       AUS
191   Австралия  2014      4   80710       AUS
248   Австралия  2014      5   94562       AUS
...         ...   ...    ...     ...       ...
6757     Япония  2023      5  322886       JPN
6811     Япония  2023      6  387445       JPN
6866     Япония  2023      7  374907       JPN
6921     Япония  2023      8  335873       JPN
6973     Япония  2023      9  432237       JPN

[7023 rows x 5 columns]

In [8]:
df.to_csv(os.path.join(SAVE_DIR, 'cars_sales.csv'))

### Получаем ежегодные экономические показатели стран из API data.worldbank.org

In [42]:
import requests
import pandas as pd 
import os
import pycountry
import urllib.request
import zipfile
import io

In [73]:
population_url = 'https://api.worldbank.org/v2/en/indicator/SP.POP.TOTL?downloadformat=csv'
gdp_url = 'https://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv'
average_income_url = 'https://api.worldbank.org/v2/en/indicator/NY.ADJ.NNTY.KD?downloadformat=csv'

In [69]:
filehandle, _ = urllib.request.urlretrieve(population_url)
zip_file_object = zipfile.ZipFile(filehandle, 'r')
population_file_path = ''
for file_name in zip_file_object.namelist():
    if file_name.startswith("API_SP.POP"):
        population_file_path = file_name
        break

file = zip_file_object.open(population_file_path)
string_lines = [line.decode("utf-8") for line in file.readlines()[4:]]
s = io.StringIO()
s.writelines(string_lines)
population_df = pd.read_csv(io.StringIO(s.getvalue()), sep=',')
population_df.info()

data = []
for index, row in population_df.iterrows():
    for year in list(range(1960, 2023)):
        data.append(
            {
                'Country Name': row['Country Name'],
                'Country Code': row['Country Code'],
                'Year': year,
                'Population': row[str(year)],
            }
        )

final_population_df = pd.DataFrame(data)
final_population_df.to_csv(os.path.join(SAVE_DIR, 'countries_populations.csv'))
print(final_population_df.info())
final_population_df.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            265 non-null    float64
 35  1991            265 non-null    float64
 36  1992            265 non-null    float64
 37  1993            265 non-null    float64
 38  1994            265 non-null    float64
 39  1995            265 non-null    float64
 40  1996            265 non-null    float64
 41  1997            265 non-null    float64
 42  1998            265 non-null    float64
 43  1999            265 non-null    float64
 44  2000            265 non-null    float64
 45  2001            265 non-null    float64
 46  2002            265 non-null    float64
 47  2003            265 non-null    float64
 48  2004            265 non-null    float64
 49  2005            265 non-null    float64
 50  2006            265 non-null    float64
 51  2007            265 non-null    float64
 52  2008            265 non-null    float64
 53  2009            265 non-null    float64
 54  2010            265 non-null    float64
 55  2011            265 non-null    float64
 56  2012            265 non-null    float64
 57  2013            265 non-null    float64
 58  2014            265 non-null    float64
 59  2015            265 non-null    float64
 60  2016            265 non-null    float64
 61  2017            265 non-null    float64
 62  2018            265 non-null    float64
 63  2019            265 non-null    float64
 64  2020            265 non-null    float64
 65  2021            265 non-null    float64
 66  2022            265 non-null    float64
 67  Unnamed: 67     0 non-null      float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16758 entries, 0 to 16757
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16758 non-null  object
 1   Country Code  16758 non-null  object
 2   Year          16758 non-null  int64
 3   Population    16665 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 523.8+ KB
None

   Country Name Country Code  Year  Population
0         Aruba          ABW  1960     54608.0
1         Aruba          ABW  1961     55811.0
2         Aruba          ABW  1962     56682.0
3         Aruba          ABW  1963     57475.0
4         Aruba          ABW  1964     58178.0
5         Aruba          ABW  1965     58782.0
6         Aruba          ABW  1966     59291.0
7         Aruba          ABW  1967     59522.0
8         Aruba          ABW  1968     59471.0
9         Aruba          ABW  1969     59330.0
10        Aruba          ABW  1970     59106.0
11        Aruba          ABW  1971     58816.0
12        Aruba          ABW  1972     58855.0
13        Aruba          ABW  1973     59365.0
14        Aruba          ABW  1974     60028.0
15        Aruba          ABW  1975     60715.0
16        Aruba          ABW  1976     61193.0
17        Aruba          ABW  1977     61465.0
18        Aruba          ABW  1978     61738.0
19        Aruba          ABW  1979     62006.0
20        Aruba          ABW  1980     62267.0
21        Aruba          ABW  1981     62614.0
22        Aruba          ABW  1982     63116.0
23        Aruba          ABW  1983     63683.0
24        Aruba          ABW  1984     64174.0
25        Aruba          ABW  1985     64478.0
26        Aruba          ABW  1986     64553.0
27        Aruba          ABW  1987     64450.0
28        Aruba          ABW  1988     64332.0
29        Aruba          ABW  1989     64596.0
30        Aruba          ABW  1990     65712.0
31        Aruba          ABW  1991     67864.0
32        Aruba          ABW  1992     70192.0
33        Aruba          ABW  1993     72360.0
34        Aruba          ABW  1994     74710.0
35        Aruba          ABW  1995     77050.0
36        Aruba          ABW  1996     79417.0
37        Aruba          ABW  1997     81858.0
38        Aruba          ABW  1998     84355.0
39        Aruba          ABW  1999     86867.0
40        Aruba          ABW  2000     89101.0
41        Aruba          ABW  2001     90691.0
42        Aruba          ABW  2002     91781.0
43        Aruba          ABW  2003     92701.0
44        Aruba          ABW  2004     93540.0
45        Aruba          ABW  2005     94483.0
46        Aruba          ABW  2006     95606.0
47        Aruba          ABW  2007     96787.0
48        Aruba          ABW  2008     97996.0
49        Aruba          ABW  2009     99212.0

In [72]:
filehandle, _ = urllib.request.urlretrieve(gdp_url)
zip_file_object = zipfile.ZipFile(filehandle, 'r')
population_file_path = ''
for file_name in zip_file_object.namelist():
    if file_name.startswith("API_NY.GDP"):
        population_file_path = file_name
        break

file = zip_file_object.open(population_file_path)
string_lines = [line.decode("utf-8") for line in file.readlines()[4:]]
s = io.StringIO()
s.writelines(string_lines)
gdp_df = pd.read_csv(io.StringIO(s.getvalue()), sep=',')

data = []
for index, row in gdp_df.iterrows():
    for year in list(range(1960, 2023)):
        data.append(
            {
                'Country Name': row['Country Name'],
                'Country Code': row['Country Code'],
                'Year': year,
                'GDP': row[str(year)],
            }
        )

final_gdp_df = pd.DataFrame(data)
final_gdp_df.to_csv(os.path.join(SAVE_DIR, 'countries_gdp.csv'))
print(final_gdp_df.info())
final_gdp_df.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16758 entries, 0 to 16757
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  16758 non-null  object
 1   Country Code  16758 non-null  object
 2   Year          16758 non-null  int64
 3   GDP           13200 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 523.8+ KB
None

   Country Name Country Code  Year           GDP
0         Aruba          ABW  1960           NaN
1         Aruba          ABW  1961           NaN
2         Aruba          ABW  1962           NaN
3         Aruba          ABW  1963           NaN
4         Aruba          ABW  1964           NaN
5         Aruba          ABW  1965           NaN
6         Aruba          ABW  1966           NaN
7         Aruba          ABW  1967           NaN
8         Aruba          ABW  1968           NaN
9         Aruba          ABW  1969           NaN
10        Aruba          ABW  1970           NaN
11        Aruba          ABW  1971           NaN
12        Aruba          ABW  1972           NaN
13        Aruba          ABW  1973           NaN
14        Aruba          ABW  1974           NaN
15        Aruba          ABW  1975           NaN
16        Aruba          ABW  1976           NaN
17        Aruba          ABW  1977           NaN
18        Aruba          ABW  1978           NaN
19        Aruba          ABW  1979           NaN
20        Aruba          ABW  1980           NaN
21        Aruba          ABW  1981           NaN
22        Aruba          ABW  1982           NaN
23        Aruba          ABW  1983           NaN
24        Aruba          ABW  1984           NaN
25        Aruba          ABW  1985           NaN
26        Aruba          ABW  1986  4.055866e+08
27        Aruba          ABW  1987  4.877095e+08
28        Aruba          ABW  1988  5.966480e+08
29        Aruba          ABW  1989  6.955307e+08
30        Aruba          ABW  1990  7.648045e+08
31        Aruba          ABW  1991  8.720670e+08
32        Aruba          ABW  1992  9.586592e+08
33        Aruba          ABW  1993  1.083240e+09
34        Aruba          ABW  1994  1.245810e+09
35        Aruba          ABW  1995  1.320670e+09
36        Aruba          ABW  1996  1.379888e+09
37        Aruba          ABW  1997  1.531844e+09
38        Aruba          ABW  1998  1.665363e+09
39        Aruba          ABW  1999  1.722905e+09
40        Aruba          ABW  2000  1.873453e+09
41        Aruba          ABW  2001  1.896457e+09
42        Aruba          ABW  2002  1.961844e+09
43        Aruba          ABW  2003  2.044112e+09
44        Aruba          ABW  2004  2.254831e+09
45        Aruba          ABW  2005  2.360017e+09
46        Aruba          ABW  2006  2.469783e+09
47        Aruba          ABW  2007  2.677641e+09
48        Aruba          ABW  2008  2.843025e+09
49        Aruba          ABW  2009  2.553793e+09

In [79]:
filehandle, _ = urllib.request.urlretrieve(average_income_url)
zip_file_object = zipfile.ZipFile(filehandle, 'r')
population_file_path = ''
for file_name in zip_file_object.namelist():
    if file_name.startswith("API_NY.ADJ"):
        population_file_path = file_name
        break

file = zip_file_object.open(population_file_path)
string_lines = [line.decode("utf-8") for line in file.readlines()[4:]]
s = io.StringIO()
s.writelines(string_lines)
average_income_df = pd.read_csv(io.StringIO(s.getvalue()), sep=',')

data = []
for index, row in average_income_df.iterrows():
    for year in list(range(1960, 2022)):
        data.append(
            {
                'Country Name': row['Country Name'],
                'Country Code': row['Country Code'],
                'Year': year,
                'Average Income': row[str(year)],
            }
        )

final_average_income_df = pd.DataFrame(data)
final_average_income_df.to_csv(os.path.join(SAVE_DIR, 'countries_average_income.csv'))
print(final_average_income_df.info())
final_average_income_df.tail(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16492 entries, 0 to 16491
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    16492 non-null  object
 1   Country Code    16492 non-null  object
 2   Year            16492 non-null  int64
 3   Average Income  6006 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 515.5+ KB
None

      Country Name Country Code  Year  Average Income
16442     Zimbabwe          ZWE  1972             NaN
16443     Zimbabwe          ZWE  1973             NaN
16444     Zimbabwe          ZWE  1974             NaN
16445     Zimbabwe          ZWE  1975             NaN
16446     Zimbabwe          ZWE  1976             NaN
16447     Zimbabwe          ZWE  1977             NaN
16448     Zimbabwe          ZWE  1978             NaN
16449     Zimbabwe          ZWE  1979             NaN
16450     Zimbabwe          ZWE  1980             NaN
16451     Zimbabwe          ZWE  1981             NaN
16452     Zimbabwe          ZWE  1982             NaN
16453     Zimbabwe          ZWE  1983             NaN
16454     Zimbabwe          ZWE  1984             NaN
16455     Zimbabwe          ZWE  1985             NaN
16456     Zimbabwe          ZWE  1986             NaN
16457     Zimbabwe          ZWE  1987             NaN
16458     Zimbabwe          ZWE  1988             NaN
16459     Zimbabwe          ZWE  1989             NaN
16460     Zimbabwe          ZWE  1990             NaN
16461     Zimbabwe          ZWE  1991             NaN
16462     Zimbabwe          ZWE  1992             NaN
16463     Zimbabwe          ZWE  1993             NaN
16464     Zimbabwe          ZWE  1994             NaN
16465     Zimbabwe          ZWE  1995             NaN
16466     Zimbabwe          ZWE  1996             NaN
16467     Zimbabwe          ZWE  1997             NaN
16468     Zimbabwe          ZWE  1998             NaN
16469     Zimbabwe          ZWE  1999             NaN
16470     Zimbabwe          ZWE  2000             NaN
16471     Zimbabwe          ZWE  2001             NaN
16472     Zimbabwe          ZWE  2002             NaN
16473     Zimbabwe          ZWE  2003             NaN
16474     Zimbabwe          ZWE  2004             NaN
16475     Zimbabwe          ZWE  2005             NaN
16476     Zimbabwe          ZWE  2006             NaN
16477     Zimbabwe          ZWE  2007             NaN
16478     Zimbabwe          ZWE  2008             NaN
16479     Zimbabwe          ZWE  2009    8.781917e+09
16480     Zimbabwe          ZWE  2010    1.033571e+10
16481     Zimbabwe          ZWE  2011    1.070619e+10
16482     Zimbabwe          ZWE  2012    1.286823e+10
16483     Zimbabwe          ZWE  2013    1.374614e+10
16484     Zimbabwe          ZWE  2014    1.377953e+10
16485     Zimbabwe          ZWE  2015    1.540324e+10
16486     Zimbabwe          ZWE  2016    1.520712e+10
16487     Zimbabwe          ZWE  2017    1.590361e+10
16488     Zimbabwe          ZWE  2018    1.994242e+10
16489     Zimbabwe          ZWE  2019    1.841870e+10
16490     Zimbabwe          ZWE  2020    1.662388e+10
16491     Zimbabwe          ZWE  2021    1.775851e+10